html{
     max-width: 1200px;
     margin: auto;
     background-color: rgb(255, 255, 255);
 }
 .body{
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     margin: 0;
    
 }


.fylke {
     fill: rgb(21, 46, 116);
     stroke: rgba(247, 244, 244, 0.171);
    
 }

 .hoverfylker{
     fill:rgb(54, 73, 80)
 }

 .tooltip {
    position: absolute;
    width: 100px;
    height: 200px;
    color: black;
  }